#header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.nav-links {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 650px) {
  body {
    margin-top: 15px;
    width: 100%;
    position: relative;
  }
}
